# Ignore all files and directories by default
*

# But include these specific files and folders
!.gitignore
# .github/
!.github/
!.github/**
# utils/
!utils/
!utils/**
# samples/
!samples/
!samples/**
# README.md
!README.md
# .vscode/
!.vscode/
!.vscode/**
# メモようのファイル
!NEXT.md
!memo.md
# 便利シェルスクリプト
!cleanup_git_copy.sh

.DS_Store